body {
    margin: 0;
    overflow: hidden;
    background-color: #87ceeb;
}

#game-container {
    width: 800px;
    height: 600px;
    margin: 20px auto;
    border: 5px solid #333;
    background-color: #a3d9a5; /* default grass color */
}