.caption-box {
  margin: 25px 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 15px;
  min-height: 120px;
  font-size: 18px;
  line-height: 1.5;
}

.btn {
  width: 100%;
  padding: 14px;
  border: none;
  margin-top: 12px;
  border-radius: 14px;
  font-size: 16px;
  cursor: pointer;
  background: #00f5ff;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: white;
  color: black;
}

.speak-btn {
  background: #ff9800;
}

.speak-btn:hover {
  background: white;
}

