body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #141e30, #243b55);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 90%;
  max-width: 1100px;
  height: 600px;
  display: flex;
  gap: 20px;
}

.upload-section,
.caption-section {
  flex: 1;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  padding: 25px;
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  color: white;
}

h2 {
  margin-bottom: 5px;
}

p {
  opacity: 0.8;
}
