.drop-area {
  margin-top: 25px;
  border: 2px dashed rgba(255, 255, 255, 0.4);
  border-radius: 18px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}

.drop-area:hover {
  border-color: #00f5ff;
}

.drop-area.active {
  background: rgba(0, 245, 255, 0.15);
}

#previewImg {
  max-width: 90%;
  max-height: 90%;
  border-radius: 15px;
  display: none;
}

#dropText {
  font-size: 16px;
  opacity: 0.9;
}
