
*{margin:0;padding:0;box-sizing:border-box;}

body{
font-family:'Inter',sans-serif;
background:radial-gradient(circle at 10% 30%, #d8ecff, #b8d9ff);
color:#002b5b;
}

/* NAVBAR */

.navbar{
background:white;
padding:15px 40px;
display:flex;
justify-content:space-between;
align-items:center;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
position:sticky;
top:0;
z-index:1000;
}

.nav-links a{
margin-left:25px;
text-decoration:none;
font-weight:600;
color:#002b5b;
cursor:pointer;
transition:0.3s;
}

.nav-links a:hover{
color:#0077ff;
}

/* HEADER */

.header{
background:linear-gradient(145deg,#0077ff,#002b5b);
padding:5rem 2rem;
text-align:center;
clip-path:polygon(0 0,100% 0,100% 88%,0 100%);
border-bottom:8px solid #b8d9ff;
}

.header h1{
font-family:'Quicksand',sans-serif;
font-size:4rem;
color:white;
text-shadow:5px 5px 0 #001b36;
}

.header p{
font-size:1.3rem;
background:#eaf4ff;
display:inline-block;
padding:8px 25px;
border-radius:50px;
margin-top:20px;
}

.badge{
background:#d8ecff;
display:inline-block;
padding:6px 20px;
border-radius:40px;
margin-top:10px;
}

/* PAGE */

.page{display:none;}
.page.active{display:block;}

.container{
max-width:1200px;
margin:auto;
padding:30px;
}

/* CARD */

.card{
background:white;
padding:20px;
border-radius:25px;
box-shadow:0 10px 20px rgba(0,0,0,0.15);
margin-top:20px;
transition:0.3s;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 20px 30px rgba(0,0,0,0.2);
}

/* FITNESS GRID */

.fitness-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
margin-top:20px;
}

.fitness-card{
background:white;
border-radius:20px;
overflow:hidden;
box-shadow:0 5px 15px rgba(0,0,0,0.15);
transition:0.3s;
}

.fitness-card:hover{
transform:scale(1.05);
}

.fitness-card img{
width:100%;
height:160px;
object-fit:cover;
}

.fitness-card h4{
padding:10px;
text-align:center;
}

/* FORM */

input,select{
width:100%;
padding:12px;
border-radius:30px;
border:2px solid #0077ff;
margin:10px 0;
}

button{
background:#0077ff;
border:none;
color:white;
padding:10px 25px;
border-radius:30px;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#002b5b;
transform:scale(1.05);
}

/* GRID */

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

/* WALK ICON */

.run{
font-size:40px;
color:#0077ff;
animation:run 2s infinite linear;
margin-top:20px;
}

@keyframes run{
0%{transform:translateX(-10px);}
50%{transform:translateX(10px);}
100%{transform:translateX(-10px);}
}
