*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-size: 100% 100%; 
    background-position: center; 
    background-repeat: no-repeat;  
    height: 100vh;  
    margin: 0;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.container .calendar{
    width: 546px;
    height: 622px;
    background-color: #ffffff;
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.15);
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    border-radius: 20px;
}

.container .digital_clock{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}

.digital_clock:hover{
    background: linear-gradient(to top, #5c65d8 10%, #07346e 100%);
}

.digital_clock .time{
    font-size: 50px;
    color: #fff;
}

.digital_clock .time .format{
    font-size: 25px;
}

.calendar .month{
    width: 100%;
    background: linear-gradient(to bottom, #222b49, #5997da);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f3efef;
    padding: 84px 30px 40px 30px;
    text-align: center;
}

.month h2{
    font-size: 32px;
    margin-top: 25px;
}

.month p{
    margin-top: 5px;
    font-size: 17px;
}

.month .arrow{
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #0a466e;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.month .arrow:hover{
    background-color: #085e98;
}



.container .week{
    display: flex;
    background-color: #334e6e;
    color: #fff;
}

.week div{
    width: 14.28%;
    text-align: center;
    padding: 10px 0px;
    transition: 0.4s;
}

.week .active{
    background-color: #356eae;
}

.week div:hover{
    background-color: #4b72ba;
}


.container .dates{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

.dates div{
    width: 74px;
    height: 55px;
    margin: 2px;
    margin-top: 1.7px;
    text-align: center;
    line-height: 53px;
    border: 3px solid #e9e9e9;
    border-radius: 8px;
}

.dates .today{
    background: linear-gradient(to bottom, #374369, #5e97d4);
    color: #fff;
}

.dates .today:hover{
    background-color: #1c91da;
    font-size: 20px;
    font-weight: 600;
}

.dates div:hover:not(.today){
    border: 3px #111;
    background-color: #f0f0f0;
    color: #0ebded;
    font-size: 600;
    cursor: pointer;
    -webkit-box-reflect: below 4px linear-gradient(transparent, #0000004d);
}

.dates div:nth-child(n+36):hover{
    -webkit-box-reflect: above 4px linear-gradient(transparent, #0000004d);
}


.calendar .dates div:nth-child(n+43){
    border: none !important;
    cursor: auto !important;
    background: none !important;
}

.dates .prev, .dates .next{
    opacity: 0.5;
}

.dates .prev:hover,
.dates .next:hover{
    opacity: 1;
}