
        body {
            font-family: Arial, sans-serif;
            background-color: #686767; 
            color: #e0e0e0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .card {
            background-color: #1e1e1e; 
            border-radius: 15px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
            padding: 20px;
            text-align: center;
            width: 350px;
            transition: transform 0.3s;
        }

        .card:hover {
            transform: translateY(-5px);
        }

        h1 {
            color: #ffab00; 
            margin-bottom: 10px;
        }

        input[type="text"] {
            width: calc(100% - 20px);
            padding: 10px;
            border: 2px solid #ffab00; 
            border-radius: 5px;
            margin: 10px 0;
            font-size: 16px;
            outline: none;
            background-color: #282828; 
            color: #e0e0e0; 
        }

        button {
            background-color: #ff5722; 
            color: white; 
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s, transform 0.3s;
        }

        button:hover {
            background-color: #e64a19; 
            transform: scale(1.05);
        }

        .resultParas {
            margin-top: 20px;
            background-color: #3d3d3d; 
            padding: 10px;
            border-radius: 5px;
            display: inline-block;
            width: 100%;
        }

        .lastResult {
            color: #ff5722; 
            font-weight: bold;
        }

        #newGame {
            display: none; 
            margin-top: 20px;
            background-color: #4caf50; 
            color: white; 
        }

        #newGame:hover {
            background-color: #388e3c; 
        }
    