body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

input {
  margin: 20px;
}

canvas {
  width: 100%;
  height: 300px;
  display: block;
}
