/* Default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #feea94d2;
    margin: 0;
}

/* Container for the app */
.container {
    background-color: #ecf3f69f;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    width: 600px;
    padding: 30px;
}

/* Tasks and Completed Tasks sections */
.tasks,
.completed-tasks {
    display: none;
    margin-bottom: 50px;
    border: 3px solid #f79e05;
    padding: 30px;
}

/* Styling the checkboxes */
.task-checkbox {
    margin-right: 1px;
}

/* Styling of Clear Completed button */
#clear {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#clear:hover {
    background-color: #1ed00e;
}

/* Styling of Add Task button */
#addTaskButton {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

#addTaskButton:hover {
    background-color: #1ed00e;
}
