
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
    body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f6f8;
}
    .container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding:30px 40px;
        border-radius: 10px;
        background: #fff;
        align-items:center;
    }
h1{
    margin-bottom: 20px;
    color:#333;
}
.size-box p{
    font-size: 20px;
    margin:10px 0;
    color:#555;
}

span{
    font-weight: bold;
    color:#007bff;
}
button{
    padding:10px 18px;
    margin-top:15px;
    border:none;
    background:#007bff;
    font-size:16px;
    cursor:pointer;
    color:#fff;
}
button:hover{
    background: #0056b3;
}
#copyMsg{
    margin-top:10px;
    font-size:14px;
    color:green;
}
