body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #89f7fe, #66a6ff);
  font-family: Arial, sans-serif;
}

.weather {
  text-align: center;
}

h1 {
  font-size: 44px;
  font-weight: bold;
}

button {
  font-size: 22px;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

p {
  font-size: 30px;
  font-weight: bold;
  margin-top: 25px;
}