body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

header {
  background: #111827;
  padding: 15px;
}

.controls {
  margin: 15px;
}

button, input {
  padding: 8px 12px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

button {
  background: #2563eb;
  color: white;
  cursor: pointer;
}

.array-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 4px;
  margin-top: 25px;
  height: 300px;
}

.bar {
  width: 20px;
  background: #38bdf8;
  color: black;
  font-size: 10px;
  text-align: center;
}

.active {
  background: #f59e0b;
}

.found {
  background: #22c55e;
}

.discarded {
  background: #334155;
}