* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #000000, #14012c);
    background-size: 400% 400%;
    animation: gradientBG 4s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 600px;
    height: auto;
    background: linear-gradient(90deg, rgb(14, 1, 62), rgb(0, 0, 0));
    box-shadow: -2px 2px 500px rgba(134, 5, 208, 0.747);
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 24px;
    border-radius: 12px;
}

hr {
    border: 1px solid;
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0.404), rgba(57, 0, 149, 0.701)) 1;
}

.question h2 {
    color: rgb(187, 118, 255);
    margin-bottom: 2rem;
}

ol {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    padding-left: 25px;
}

li {
    background-color: rgba(255, 255, 255, 0.08);
    padding: 14px 22px;
    border-radius: 12px;
    transition: ease 0.4s;
    cursor: pointer;
}

li:hover {
    background-color: rgba(176, 127, 254, 0.322);
}

button {
    margin: auto;
    padding: 12px 30px;
    border-radius: 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    display: none;
    background-color: rgb(134, 5, 208);
    color: white;
    font-size: 16px;
}

button:hover {
    background-color: rgb(176, 127, 254);
}

.correct {
    background-color: rgba(41, 139, 41, 0.304) !important;
}

.wrong {
    background: rgba(132, 51, 51, 0.313) !important;
}