body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle, #1a0033, #000010);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 95%;
  max-width: 1200px;
  height: 650px;
  display: flex;
  gap: 20px;
}
