* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg,#74ebd5,#acb6e5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 350px;
  padding: 25px;
  border-radius: 20px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(12px);
  text-align: center;
  box-shadow: 0 0 25px rgba(0,0,0,0.3);
  animation: fadeIn 1s ease;
}

.search {
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
}

input, button {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

button {
  background: #4facfe;
  color: white;
  cursor: pointer;
}

.weather {
  margin-top: 15px;
}

#temp {
  font-size: 40px;
  font-weight: bold;
}

@keyframes fadeIn {
  from {opacity:0; transform: translateY(20px);}
  to {opacity:1; transform: translateY(0);}
}